<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Roboto&family=Signika:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <title>header-guest</title>
  </head>

  <body>
    <!-- header start
    =========================================== -->
    <header class="header" id="header">
      <div class="auto__container">
        <div class="header__inner">
          <a href="#" class="header__inner-logo">
            <b> LOGO </b>
          </a>
          <div class="header__inner-side">
            <div class="header__inner-buttons">
              <a href="#" class="button secondary"> Create A Campaign </a>
              <a href="#" class="button secondary"> Sign In </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header end
    =========================================== -->
    <!-- js
    =========================================== -->
    <script src="./js/main.js"></script>
  </body>
</html>
