<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Roboto&family=Signika:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <title>View All Members</title>
  </head>

  <body>
    <div class="donation__wrapper">
      <div class="donation">
        <div class="donation__close"></div>
        <div class="donation__title">
          <h2>
            Fundraising Team
            <span> 7 </span>
          </h2>
        </div>
        <div class="donation__list fund mod active">
          <div class="donationItem">
            <div class="donationItem__avatar">
              <img src="../../images/avatars/5.png" alt="" />
            </div>
            <div class="donationItem__row">
              <div class="donationItem__name">
                <div class="large">Ryan Bator</div>
                <div class="subtle">Organiser</div>
              </div>
              <div class="donationItem__info">
                <div class="large">
                  <p>Raised</p>
                  <b> £1,234 </b>
                </div>
                <div class="subtle">
                  of
                  <b> £2,345 </b>
                </div>
              </div>
            </div>
          </div>
          <div class="donationItem">
            <div class="donationItem__avatar">
              <img src="../../images/avatars/8.png" alt="" />
            </div>
            <div class="donationItem__row">
              <div class="donationItem__name">
                <div class="large">Paityn Westervelt</div>
                <div class="subtle">Organiser</div>
              </div>
              <div class="donationItem__info">
                <div class="large">
                  <p>Raised</p>
                  <b> £1,234 </b>
                </div>
                <div class="subtle">
                  of
                  <b> £2,345 </b>
                </div>
              </div>
            </div>
          </div>
          <div class="donationItem">
            <div class="donationItem__avatar">
              <img src="../../images/avatars/10.png" alt="" />
            </div>
            <div class="donationItem__row">
              <div class="donationItem__name">
                <div class="large">Marley Curtis</div>
                <div class="subtle">Fundraiser Member</div>
              </div>
              <div class="donationItem__info">
                <div class="large">
                  <p>Raised</p>
                  <b> £1,234 </b>
                </div>
                <div class="subtle">
                  of
                  <b> £2,345 </b>
                </div>
              </div>
            </div>
          </div>
          <div class="donationItem">
            <div class="donationItem__avatar">
              <img src="../../images/avatars/9.png" alt="" />
            </div>
            <div class="donationItem__row">
              <div class="donationItem__name">
                <div class="large">Gustavo Press</div>
                <div class="subtle">Fundraiser Member</div>
              </div>
              <div class="donationItem__info">
                <div class="large">
                  <p>Raised</p>
                  <b> £1,234 </b>
                </div>
                <div class="subtle">
                  of
                  <b> £2,345 </b>
                </div>
              </div>
            </div>
          </div>
          <div class="donationItem">
            <div class="donationItem__avatar">
              <img src="../../images/avatars/2.png" alt="" />
            </div>
            <div class="donationItem__row">
              <div class="donationItem__name">
                <div class="large">Jaydon Rosser</div>
                <div class="subtle">Fundraiser Member</div>
              </div>
              <div class="donationItem__info">
                <div class="large">
                  <p>Raised</p>
                  <b> £1,234 </b>
                </div>
                <div class="subtle">
                  of
                  <b> £2,345 </b>
                </div>
              </div>
            </div>
          </div>
          <div class="donationItem">
            <div class="donationItem__avatar">
              <img src="../../images/avatars/1.png" alt="" />
            </div>
            <div class="donationItem__row">
              <div class="donationItem__name">
                <div class="large">Kianna Rosser</div>
                <div class="subtle">Fundraiser Member</div>
              </div>
              <div class="donationItem__info">
                <div class="large">
                  <p>Raised</p>
                  <b> £1,234 </b>
                </div>
                <div class="subtle">
                  of
                  <b> £2,345 </b>
                </div>
              </div>
            </div>
          </div>
          <div class="donationItem">
            <div class="donationItem__avatar">
              <img src="../../images/avatars/8.png" alt="" />
            </div>
            <div class="donationItem__row">
              <div class="donationItem__name">
                <div class="large">Marley Stanton</div>
                <div class="subtle">Fundraiser Member</div>
              </div>
              <div class="donationItem__info">
                <div class="large">
                  <p>Raised</p>
                  <b> £1,234 </b>
                </div>
                <div class="subtle">
                  of
                  <b> £2,345 </b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <svg style="display: none">
      <symbol id="mailIcon" viewBox="0 0 17 16" fill="none">
        <g>
          <path
            d="M13.8359 2.66602H3.16927C2.43289 2.66602 1.83594 3.26297 1.83594 3.99935V11.9993C1.83594 12.7357 2.43289 13.3327 3.16927 13.3327H13.8359C14.5723 13.3327 15.1693 12.7357 15.1693 11.9993V3.99935C15.1693 3.26297 14.5723 2.66602 13.8359 2.66602Z"
            stroke="currentColor"
            stroke-width="1.33333"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M15.1693 4.66602L9.18927 8.46602C8.98345 8.59497 8.74548 8.66336 8.5026 8.66336C8.25973 8.66336 8.02176 8.59497 7.81594 8.46602L1.83594 4.66602"
            stroke="currentColor"
            stroke-width="1.33333"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </g>
      </symbol>
    </svg>
    <script src="../../js/tabs.js"></script>
  </body>
</html>
