<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Roboto&family=Signika:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <title>View All Donations</title>
  </head>

  <body>
    <div class="n3o-donation__wrapper">
      <div class="n3o-donation">
        <div class="n3o-donation__close"></div>
        <div class="n3o-donation__title">
          <h2 class="n3o-h2">
            All Donations
            <span>123 </span>
          </h2>
        </div>
        <div class="n3o-donation__list mod active">
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/8.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Marley Dokidis</div>
              </div>
              <div class="n3o-donationItem__info">
                <b class="n3o-large"> £19 </b>
                <div class="n3o-subtle">16 minutes ago</div>
              </div>
            </div>
          </div>
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/5.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Craig Culhane</div>
                <div class="n3o-subtle">
                  “Sit dolore pariatur consequat mollit eiusmod sint adipisicing
                  excepteur incididunt est eu”
                </div>
              </div>
              <div class="n3o-donationItem__info">
                <b class="n3o-large"> £19 </b>
                <div class="n3o-subtle">3 hours ago</div>
              </div>
            </div>
          </div>
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/1.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Tatiana Philips</div>
                <div class="n3o-subtle">“Lorem ipsum”</div>
              </div>
              <div class="n3o-donationItem__info">
                <b class="n3o-large"> £19</b>
                <div class="n3o-subtle">3 hours ago</div>
              </div>
            </div>
          </div>
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/2.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Jaylon Kenter</div>
              </div>
              <div class="n3o-donationItem__info">
                <b class="n3o-large"> £19</b>
                <div class="n3o-subtle">8 hours ago</div>
              </div>
            </div>
          </div>
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar"></div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Anonymous</div>
              </div>
              <div class="n3o-donationItem__info">
                <b class="n3o-large"> £19</b>
                <div class="n3o-subtle">2 days ago</div>
              </div>
            </div>
          </div>
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/3.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Gretchen Ekstrom Bothman</div>
              </div>
              <div class="n3o-donationItem__info">
                <b class="n3o-large"> £19</b>
                <div class="n3o-subtle">2 days ago</div>
              </div>
            </div>
          </div>
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/5.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Marilyn Curtis</div>
              </div>
              <div class="n3o-donationItem__info">
                <b class="n3o-large"> £19</b>
                <div class="n3o-subtle">2 days ago</div>
              </div>
            </div>
          </div>
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/7.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Jordyn Schleifer</div>
              </div>
              <div class="n3o-donationItem__info">
                <b class="n3o-large"> £19</b>
                <div class="n3o-subtle">2 days ago</div>
              </div>
            </div>
          </div>
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/6.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Emery Saris</div>
              </div>
              <div class="n3o-donationItem__info">
                <b class="n3o-large"> £19</b>
                <div class="n3o-subtle">2 days ago</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../js/tabs.js"></script>
  </body>
</html>
