<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Roboto&family=Signika:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <title>1 row cards sm</title>
  </head>

  <body>
    <main class="main">
      <!-- spotlight start
    =========================================== -->
      <section class="n3o-spotlight light">
        <div class="auto__container">
          <div class="n3o-spotlight__inner">
            <div class="n3o-spotlight__inner-title base">
              <h2 class="n3o-h2">Almost Complete</h2>
            </div>
            <div class="n3o-spotlight__inner-grid">
              <div class="n3o-card feat">
                <div class="n3o-card__image">
                  <img src="../../images/spotlight/5.png" alt="" />
                </div>
                <div class="n3o-card__content">
                  <h4 class="n3o-h4">Lorem qui deserunt aute exercitation</h4>
                  <div class="n3o-card__name">
                    <span>
                      <img src="../../images/avatars/6.png" alt="" />
                    </span>
                    <p class="n3o-p">Lorem Ipsum</p>
                  </div>
                  <div class="n3o-card__info">
                    <div class="n3o-card__info-num">£1,740 raised</div>
                    <div class="n3o-detail">12 Days left</div>
                  </div>
                  <div class="n3o-card__progress">
                    <span style="max-width: 86%"></span>
                  </div>
                </div>
              </div>
              <div class="n3o-spotlight__inner-col">
                <div class="n3o-card row">
                  <div class="n3o-card__image">
                    <img src="../../images/spotlight/6.png" alt="" />
                  </div>
                  <div class="n3o-card__content">
                    <div class="n3o-large">
                      Lorem qui deserunt aute exercitation Lorem qui deserunt
                      aute exercitation
                    </div>
                    <div class="n3o-card__name">
                      <span>
                        <img src="../../images/avatars/5.png" alt="" />
                      </span>
                      <p class="n3o-p">Lorem Ipsum</p>
                    </div>
                    <div class="n3o-card__info">
                      <div class="n3o-card__info-num">£1,740 raised</div>
                      <div class="n3o-detail">16 Days left</div>
                    </div>
                    <div class="n3o-card__progress">
                      <span style="max-width: 86%"></span>
                    </div>
                  </div>
                </div>
                <div class="n3o-card row">
                  <div class="n3o-card__image">
                    <img src="../../images/spotlight/7.png" alt="" />
                  </div>
                  <div class="n3o-card__content">
                    <div class="n3o-large">
                        Lorem qui deserunt aute exercitation
                    </div>
                    <div class="n3o-card__name">
                      <span>
                        <img src="../../images/avatars/1.png" alt="" />
                      </span>
                      <p class="n3o-p">Lorem Ipsum</p>
                    </div>
                    <div class="n3o-card__info">
                      <div class="n3o-card__info-num">£1,740 raised</div>
                      <div class="n3o-detail">20 Days left</div>
                    </div>
                    <div class="n3o-card__progress">
                      <span style="max-width: 69%"></span>
                    </div>
                  </div>
                </div>
                <div class="n3o-card row">
                  <div class="n3o-card__image">
                    <img src="../../images/spotlight/8.png" alt="" />
                  </div>
                  <div class="n3o-card__content">
                    <div class="n3o-large">
                        Lorem qui deserunt aute exercitation Lorem qui deserunt aute exercitation
                    </div>
                    <div class="n3o-card__name">
                      <span>
                        <img src="../../images/avatars/2.png" alt="" />
                      </span>
                      <p class="n3o-p">Lorem Ipsum</p>
                    </div>
                    <div class="n3o-card__info">
                      <div class="n3o-card__info-num">£1,740 raised</div>
                      <div class="n3o-detail">23 Days left</div>
                    </div>
                    <div class="n3o-card__progress">
                      <span style="max-width: 69%"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- spotlight end
  =========================================== -->
    </main>
  </body>
</html>
