<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Roboto&family=Signika:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <title>2 rows small cards</title>
  </head>

  <body>
    <main class="main">
      <!-- spotlight start
    =========================================== -->
      <section class="n3o-spotlight">
        <div class="auto__container">
          <div class="n3o-spotlight__inner">
            <div class="n3o-spotlight__inner-title">
              <h2 class="n3o-h2">Ending Soon</h2>
            </div>
            <div class="n3o-spotlight__inner-row">
              <div class="n3o-card sm">
                <div class="n3o-card__image">
                  <img src="../../images/spotlight/9.png" alt="" />
                </div>
                <div class="n3o-card__content">
                  <div class="n3o-large">
                    Lorem qui deserunt aute exercitation
                  </div>
                  <div class="n3o-card__info">
                    <div class="n3o-card__info-num">£1,740 raised</div>
                  </div>
                </div>
              </div>
              <div class="n3o-card sm">
                <div class="n3o-card__image">
                  <img src="../../images/spotlight/10.png" alt="" />
                </div>
                <div class="n3o-card__content">
                  <div class="n3o-large">
                    Lorem qui deserunt aute exercitation Lorem qui deserunt aute exercitation
                  </div>
                  <div class="n3o-card__info">
                    <div class="n3o-card__info-num">£1,740 raised</div>
                  </div>
                </div>
              </div>
              <div class="n3o-card sm">
                <div class="n3o-card__image">
                  <img src="../../images/spotlight/1.png" alt="" />
                </div>
                <div class="n3o-card__content">
                  <div class="n3o-large">
                    Lorem qui deserunt aute exercitation
                  </div>
                  <div class="n3o-card__info">
                    <div class="n3o-card__info-num">£1,740 raised</div>
                  </div>
                </div>
              </div>
              <div class="n3o-card sm">
                <div class="n3o-card__image">
                  <img src="../../images/spotlight/11.png" alt="" />
                </div>
                <div class="n3o-card__content">
                  <div class="n3o-large">
                    Lorem qui deserunt aute exercitation
                  </div>
                  <div class="n3o-card__info">
                    <div class="n3o-card__info-num">£1,740 raised</div>
                  </div>
                </div>
              </div>
              <div class="n3o-card sm">
                <div class="n3o-card__image">
                  <img src="../../images/spotlight/12.png" alt="" />
                </div>
                <div class="n3o-card__content">
                  <div class="n3o-large">
                    Lorem qui deserunt aute exercitation
                  </div>
                  <div class="n3o-card__info">
                    <div class="n3o-card__info-num">£1,740 raised</div>
                  </div>
                </div>
              </div>
              <div class="n3o-card sm">
                <div class="n3o-card__image">
                  <img src="../../images/spotlight/2.png" alt="" />
                </div>
                <div class="n3o-card__content">
                  <div class="n3o-large">
                    Lorem qui deserunt aute exercitation Lorem qui deserunt aute exercitation
                  </div>
                  <div class="n3o-card__info">
                    <div class="n3o-card__info-num">£1,740 raised</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- spotlight end
  =========================================== -->
    </main>
  </body>
</html>
