<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Roboto&family=Signika:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <title>Auth page</title>
  </head>

  <body>
    <main class="main">
      <!-- explore start
    =========================================== -->
      <div class="n3o-hero ex">
        <div class="n3o-hero__bg">
          <img src="../../images/covers/2.png" alt="" />
        </div>
        <div class="auto__container">
          <div class="n3o-hero__inner">
            <div class="n3o-auth">
              <div class="n3o-auth__title">
                <h2 class="n3o-h2">Sign in</h2>
                <p class="n3o-p">
                  Enter your email, and you will receive a one-time login link
                  in your inbox.
                </p>
              </div>
              <div class="n3o-input__outer">
                <p class="n3o-p">Email</p>
                <div class="n3o-input">
                  <input type="email" placeholder="youremail@example.org" />
                </div>
              </div>
              <button type="submit" class="n3o-button primary">Sign in</button>
              <div class="n3o-auth__foot">
                <p class="n3o-p">Or connect with</p>
                <div class="n3o-auth__foot-links">
                  <a href="#">
                    <img src="../../images/icons/social/google.svg" alt="" />
                  </a>
                  <a href="#">
                    <img src="../../images/icons/social/facebook.svg" alt="" />
                  </a>
                  <a href="#" class="sm">
                    <img src="../../images/icons/social/apple.svg" alt="" />
                  </a>
                  <a href="#">
                    <img src="../../images/icons/social/linkedin.svg" alt="" />
                  </a>
                </div>
              </div>
            </div>
            <div class="n3o-hero__inner-foot">
              <a href="#" class="n3o-subtle"> Help </a>
              <a href="#" class="n3o-subtle"> Privacy </a>
              <a href="#" class="n3o-subtle"> Terms </a>
            </div>
          </div>
        </div>
      </div>
      <!-- explore end
  =========================================== -->
    </main>
    <!-- js -->
    <script src="../../js/jquery.js"></script>
    <script src="../../js/slick.min.js"></script>
    <script src="../../js/main.js"></script>
  </body>
</html>
