<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Roboto&family=Signika:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <title>Crowfunding Homepage</title>
  </head>

  <body>
    <!-- header start
    =========================================== -->
    <header class="n3o-header new" id="header">
      <div class="auto__container">
        <div class="n3o-header__inner">
          <div class="n3o-header__inner-side">
            <a href="#" class="n3o-header__inner-logo">
              <b> LOGO </b>
            </a>
            <div class="n3o-large">Fundraising</div>
          </div>

          <div class="n3o-header__inner-side">
            <div class="n3o-header__inner-buttons">
              <a href="#" class="n3o-button secondary base"> Sign In </a>
              <a href="#" class="n3o-button secondary"> Create A Campaign </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header end
      =========================================== -->
    <main class="main">
      <!-- hero start
    =========================================== -->
      <section class="n3o-hero new">
        <div class="n3o-hero__bg">
          <img src="../../images/covers/3.png" alt="" />
        </div>
        <div class="auto__container">
          <div class="n3o-hero__inner">
            <div class="n3o-hero__inner-title">
              <div class="n3o-hero__inner-tag">
                <span>
                  <img src="../../images/icons/megaphone.svg" alt="" />
                </span>
                <p class="n3o-p">New {Charity} Crowdfunding Experience</p>
              </div>
              <h1 class="n3o-h1 big">
                Experience Unity in <br />
                Collective Giving
              </h1>
            </div>
          </div>
        </div>
      </section>
      <!-- hero end
    =========================================== -->
      <!-- spotlight start
    =========================================== -->
      <section class="n3o-spotlight">
        <div class="auto__container">
          <div class="n3o-spotlight__inner">
            <div class="n3o-spotlight__inner-title">
              <h2 class="n3o-h2">Spotlight Campaigns</h2>
            </div>
            <div class="n3o-spotlight__inner-row">
              <div class="n3o-card">
                <div class="n3o-card__image">
                  <img src="../../images/spotlight/1.png" alt="" />
                </div>
                <div class="n3o-card__content">
                  <h4 class="n3o-h4">Lorem qui deserunt aute exercitation</h4>
                  <div class="n3o-card__name">
                    <span>
                      <img src="../../images/avatars/6.png" alt="" />
                    </span>
                    <p class="n3o-p">Lorem Ipsum</p>
                  </div>
                  <div class="n3o-card__info">
                    <div class="n3o-card__info-num">£1,740 raised</div>
                    <div class="n3o-detail">48 Days left</div>
                  </div>
                  <div class="n3o-card__progress">
                    <span style="max-width: 65%"></span>
                  </div>
                </div>
              </div>
              <div class="n3o-card">
                <div class="n3o-card__image">
                  <img src="../../images/spotlight/2.png" alt="" />
                </div>
                <div class="n3o-card__content">
                  <h4 class="n3o-h4">
                    Lorem qui deserunt aute exercitation Lorem qui deserunt aute
                    exercitation
                  </h4>
                  <div class="n3o-card__name">
                    <span>
                      <img src="../../images/avatars/5.png" alt="" />
                    </span>
                    <p class="n3o-p">Lorem Ipsum</p>
                  </div>
                  <div class="n3o-card__info">
                    <div class="n3o-card__info-num">£1,740 raised</div>
                    <div class="n3o-detail">48 Days left</div>
                  </div>
                  <div class="n3o-card__progress">
                    <span style="max-width: 65%"></span>
                  </div>
                </div>
              </div>
              <div class="n3o-card">
                <div class="n3o-card__image">
                  <img src="../../images/spotlight/3.png" alt="" />
                </div>
                <div class="n3o-card__content">
                  <h4 class="n3o-h4">Lorem qui deserunt aute exercitation</h4>
                  <div class="n3o-card__name">
                    <span>
                      <img src="../../images/avatars/3.png" alt="" />
                    </span>
                    <p class="n3o-p">Lorem Ipsum</p>
                  </div>
                  <div class="n3o-card__info">
                    <div class="n3o-card__info-num">£1,740 raised</div>
                    <div class="n3o-detail">48 Days left</div>
                  </div>
                  <div class="n3o-card__progress">
                    <span style="max-width: 65%"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- spotlight end
  =========================================== -->
      <!-- spotlight start
    =========================================== -->
      <section class="n3o-spotlight light">
        <div class="auto__container">
          <div class="n3o-spotlight__inner">
            <div class="n3o-spotlight__inner-title base">
              <h2 class="n3o-h2">Almost Complete</h2>
            </div>
            <div class="n3o-spotlight__inner-grid">
              <div class="n3o-card feat">
                <div class="n3o-card__image">
                  <img src="../../images/spotlight/5.png" alt="" />
                </div>
                <div class="n3o-card__content">
                  <h4 class="n3o-h4">Lorem qui deserunt aute exercitation</h4>
                  <div class="n3o-card__name">
                    <span>
                      <img src="../../images/avatars/6.png" alt="" />
                    </span>
                    <p class="n3o-p">Lorem Ipsum</p>
                  </div>
                  <div class="n3o-card__info">
                    <div class="n3o-card__info-num">£1,740 raised</div>
                    <div class="n3o-detail">12 Days left</div>
                  </div>
                  <div class="n3o-card__progress">
                    <span style="max-width: 86%"></span>
                  </div>
                </div>
              </div>
              <div class="n3o-spotlight__inner-col">
                <div class="n3o-card row">
                  <div class="n3o-card__image">
                    <img src="../../images/spotlight/6.png" alt="" />
                  </div>
                  <div class="n3o-card__content">
                    <div class="n3o-large">
                      Lorem qui deserunt aute exercitation Lorem qui deserunt
                      aute exercitation
                    </div>
                    <div class="n3o-card__name">
                      <span>
                        <img src="../../images/avatars/5.png" alt="" />
                      </span>
                      <p class="n3o-p">Lorem Ipsum</p>
                    </div>
                    <div class="n3o-card__info">
                      <div class="n3o-card__info-num">£1,740 raised</div>
                      <div class="n3o-detail">16 Days left</div>
                    </div>
                    <div class="n3o-card__progress">
                      <span style="max-width: 86%"></span>
                    </div>
                  </div>
                </div>
                <div class="n3o-card row">
                  <div class="n3o-card__image">
                    <img src="../../images/spotlight/7.png" alt="" />
                  </div>
                  <div class="n3o-card__content">
                    <div class="n3o-large">
                      Lorem qui deserunt aute exercitation
                    </div>
                    <div class="n3o-card__name">
                      <span>
                        <img src="../../images/avatars/1.png" alt="" />
                      </span>
                      <p class="n3o-p">Lorem Ipsum</p>
                    </div>
                    <div class="n3o-card__info">
                      <div class="n3o-card__info-num">£1,740 raised</div>
                      <div class="n3o-detail">20 Days left</div>
                    </div>
                    <div class="n3o-card__progress">
                      <span style="max-width: 69%"></span>
                    </div>
                  </div>
                </div>
                <div class="n3o-card row">
                  <div class="n3o-card__image">
                    <img src="../../images/spotlight/8.png" alt="" />
                  </div>
                  <div class="n3o-card__content">
                    <div class="n3o-large">
                      Lorem qui deserunt aute exercitation Lorem qui deserunt
                      aute exercitation
                    </div>
                    <div class="n3o-card__name">
                      <span>
                        <img src="../../images/avatars/2.png" alt="" />
                      </span>
                      <p class="n3o-p">Lorem Ipsum</p>
                    </div>
                    <div class="n3o-card__info">
                      <div class="n3o-card__info-num">£1,740 raised</div>
                      <div class="n3o-detail">23 Days left</div>
                    </div>
                    <div class="n3o-card__progress">
                      <span style="max-width: 69%"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- spotlight end
  =========================================== -->
      <!-- spotlight start
    =========================================== -->
      <section class="n3o-spotlight">
        <div class="auto__container">
          <div class="n3o-spotlight__inner">
            <div class="n3o-spotlight__inner-title">
              <h2 class="n3o-h2">Ending Soon</h2>
            </div>
            <div class="n3o-spotlight__inner-row">
              <div class="n3o-card sm">
                <div class="n3o-card__image">
                  <img src="../../images/spotlight/9.png" alt="" />
                </div>
                <div class="n3o-card__content">
                  <div class="n3o-large">Lorem qui deserunt aute exercitation</div>
                  <div class="n3o-card__info">
                    <div class="n3o-card__info-num">£1,740 raised</div>
                  </div>
                </div>
              </div>
              <div class="n3o-card sm">
                <div class="n3o-card__image">
                  <img src="../../images/spotlight/10.png" alt="" />
                </div>
                <div class="n3o-card__content">
                  <div class="n3o-large">
                    Lorem qui deserunt aute exercitation Lorem qui deserunt aute
                    exercitation
                  </div>
                  <div class="n3o-card__info">
                    <div class="n3o-card__info-num">£1,740 raised</div>
                  </div>
                </div>
              </div>
              <div class="n3o-card sm">
                <div class="n3o-card__image">
                  <img src="../../images/spotlight/1.png" alt="" />
                </div>
                <div class="n3o-card__content">
                  <div class="n3o-large">Lorem qui deserunt aute exercitation</div>
                  <div class="n3o-card__info">
                    <div class="n3o-card__info-num">£1,740 raised</div>
                  </div>
                </div>
              </div>
              <div class="n3o-card sm">
                <div class="n3o-card__image">
                  <img src="../../images/spotlight/11.png" alt="" />
                </div>
                <div class="n3o-card__content">
                  <div class="n3o-large">Lorem qui deserunt aute exercitation</div>
                  <div class="n3o-card__info">
                    <div class="n3o-card__info-num">£1,740 raised</div>
                  </div>
                </div>
              </div>
              <div class="n3o-card sm">
                <div class="n3o-card__image">
                  <img src="../../images/spotlight/12.png" alt="" />
                </div>
                <div class="n3o-card__content">
                  <div class="n3o-large">Lorem qui deserunt aute exercitation</div>
                  <div class="n3o-card__info">
                    <div class="n3o-card__info-num">£1,740 raised</div>
                  </div>
                </div>
              </div>
              <div class="n3o-card sm">
                <div class="n3o-card__image">
                  <img src="../../images/spotlight/2.png" alt="" />
                </div>
                <div class="n3o-card__content">
                  <div class="n3o-large">
                    Lorem qui deserunt aute exercitation Lorem qui deserunt aute
                    exercitation
                  </div>
                  <div class="n3o-card__info">
                    <div class="n3o-card__info-num">£1,740 raised</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- spotlight end
  =========================================== -->
      <!-- searchSec start
    =========================================== -->
      <section class="n3o-searchSec">
        <div class="n3o-searchSec__bg">
          <img src="../../images/bg.png" alt="" />
        </div>
        <div class="auto__container">
          <div class="n3o-searchSec__inner">
            <div class="n3o-searchSec__inner-content">
              <h2 class="n3o-h2">Find campaign to support</h2>
              <p class="n3o-p sm">
                Search from hundreds of running campaign looking for your
                support.
              </p>
              <div class="n3o-searchSec__input">
                <span>
                  <img src="../../images/icons/search.svg" alt="" />
                </span>
                <input type="search" placeholder="Gaza Emergency" />
              </div>
              <a href="all-fundraisers-listing-page.html" class="n3o-searchSec__link">
                <h3 class="n3o-h3">See All Active Campaigns</h3>
                <span>
                  <img src="../../images/icons/arrow-right-white.svg" alt="" />
                </span>
              </a>
            </div>
            <div class="n3o-searchSec__inner-gallery">
              <img src="../../images/search-gallery.png" alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- searchSec end
  =========================================== -->
      <!-- spotlight start
    =========================================== -->
      <section class="n3o-spotlight">
        <div class="auto__container">
          <div class="n3o-spotlight__inner">
            <div class="n3o-spotlight__inner-title">
              <h2 class="n3o-h2">New Fundraisers</h2>
            </div>
            <div class="n3o-spotlight__inner-row">
              <div class="n3o-card compact">
                <div class="n3o-card__image">
                  <img src="../../images/spotlight/1.png" alt="" />
                </div>
                <div class="n3o-card__content">
                  <h4 class="n3o-h4">Lorem qui deserunt aute exercitation</h4>
                  <div class="n3o-card__name">
                    <span>
                      <img src="../../images/avatars/6.png" alt="" />
                    </span>
                    <div class="n3o-large">Lorem Ipsum</div>
                  </div>
                </div>
              </div>
              <div class="n3o-card compact">
                <div class="n3o-card__image">
                  <img src="../../images/spotlight/8.png" alt="" />
                </div>
                <div class="n3o-card__content">
                  <h4 class="n3o-h4">
                    Lorem qui deserunt aute exercitation Lorem qui deserunt aute
                    exercitation
                  </h4>
                  <div class="n3o-card__name">
                    <span>
                      <img src="../../images/avatars/1.png" alt="" />
                    </span>
                    <div class="n3o-large">Lorem Ipsum</div>
                  </div>
                </div>
              </div>
              <div class="n3o-card compact">
                <div class="n3o-card__image">
                  <img src="../../images/spotlight/3.png" alt="" />
                </div>
                <div class="n3o-card__content">
                  <h4 class="n3o-h4">
                    Lorem qui deserunt aute exercitation Lorem qui deserunt aute
                    exercitation
                  </h4>
                  <div class="n3o-card__name">
                    <span>
                      <img src="../../images/avatars/2.png" alt="" />
                    </span>
                    <div class="n3o-large">Lorem Ipsum</div>
                  </div>
                </div>
              </div>
              <div class="n3o-card compact">
                <div class="n3o-card__image">
                  <img src="../../images/spotlight/1.png" alt="" />
                </div>
                <div class="n3o-card__content">
                  <h4 class="n3o-h4">Lorem qui deserunt aute exercitation</h4>
                  <div class="n3o-card__name">
                    <span>
                      <img src="../../images/avatars/10.png" alt="" />
                    </span>
                    <div class="n3o-large">Lorem Ipsum</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- spotlight end
  =========================================== -->
      <!-- intro start
    =========================================== -->
      <section class="n3o-intro big">
        <div class="n3o-intro__bg">
          <img src="../../images/bg.png" alt="" />
        </div>
        <div class="auto__container">
          <div class="n3o-intro__inner">
            <div class="n3o-onboard">
              <div class="n3o-onboard__content">
                <h2 class="n3o-h2">
                  Join the Movement <br />
                  to Make a Difference
                </h2>
                <div class="n3o-onboardItem">
                  <div class="n3o-onboardItem__icon">
                    <img src="../../images/icons/onboard/mountain.svg" alt="" />
                  </div>
                  <div class="n3o-onboardItem__text">
                    <p class="n3o-p">
                      <b> Empower Your Dreams </b> <br />
                      Launch campaigns to support projects, community
                      initiatives, or charitable causes.
                    </p>
                  </div>
                </div>
                <div class="n3o-onboardItem">
                  <div class="n3o-onboardItem__icon">
                    <img src="../../images/icons/onboard/goal.svg" alt="" />
                  </div>
                  <div class="n3o-onboardItem__text">
                    <p class="n3o-p">
                      <b> Connect with Supporters </b> <br />
                      Engage with a global network of backers ready to support
                      your vision.
                    </p>
                  </div>
                </div>
                <div class="n3o-onboardItem">
                  <div class="n3o-onboardItem__icon">
                    <img src="../../images/icons/onboard/team.svg" alt="" />
                  </div>
                  <div class="n3o-onboardItem__text">
                    <p class="n3o-p">
                      <b> Achieve Milestones </b> <br />
                      Set and reach fundraising milestones with the help of a
                      supportive community
                    </p>
                  </div>
                </div>
              </div>
              <div class="n3o-onboard__side">
                <div class="n3o-onboard__title">
                  <div class="n3o-onboard__logo">
                    <img src="../../images/logo-circle.png" alt="" />
                  </div>
                  <h4 class="n3o-h4">Fundraising</h4>
                </div>
                <div class="n3o-onboard__foot">
                  <p class="n3o-p">
                    Sign in or create an account to launch your fundraiser page
                    today!
                  </p>
                  <a href="#" class="n3o-button primary">Get Started Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- intro end
  =========================================== -->
      <!-- footer start
    =========================================== -->
      <footer class="n3o-footer">
        <div class="auto__container">
          <div class="n3o-footer__inner">
            <div class="n3o-footer__inner-row">
              <div class="n3o-footer__inner-main">
                <div class="n3o-footer__inner-logo">
                  <img src="../../images/footer-logo.png" alt="" />
                </div>
                <div class="n3o-footer__inner-title">
                  <h2 class="n3o-h2">Lorem Ipsum</h2>
                  <p class="n3o-p sm">
                    Adipisicing consequat quis quis do cillum velit eiusmod
                    adipisicing sunt sit fugiat cupidatat aute nulla aute velit.
                  </p>
                </div>
              </div>
              <div class="n3o-footer__inner-address">
                <p class="n3o-detail">
                  45 Narrowly Wide Street <br />
                  X15 2WS <br />
                  United Land <br />
                  <br />
                  Charity Reg. Number 112953948X
                </p>
              </div>
            </div>
            <div class="n3o-footer__inner-copy">
              <div class="n3o-footer__inner-side">
                <div class="n3o-footer__inner-secure">
                  <span>
                    <img src="../../images/icons/shield.svg" alt="" />
                  </span>
                  <p class="n3o-p sm">Secure Payment</p>
                </div>
                <div class="n3o-footer__inner-pay">
                  <div class="n3o-footer__inner-pay-item">
                    <img
                      src="../../images/icons/payment/apple-pay.svg"
                      alt=""
                    />
                  </div>
                  <div class="n3o-footer__inner-pay-item">
                    <img
                      src="../../images/icons/payment/google-pay.svg"
                      alt=""
                    />
                  </div>
                  <div class="n3o-footer__inner-pay-item">
                    <img src="../../images/icons/payment/paypal.svg" alt="" />
                  </div>
                  <div class="n3o-footer__inner-pay-item">
                    <img src="../../images/icons/payment/visa.svg" alt="" />
                  </div>
                  <div class="n3o-footer__inner-pay-item">
                    <img src="../../images/icons/payment/master.svg" alt="" />
                  </div>
                  <div class="n3o-footer__inner-pay-item">
                    <img src="../../images/icons/payment/amex.svg" alt="" />
                  </div>
                  <div class="n3o-footer__inner-pay-item">
                    <img src="../../images/icons/payment/diners.svg" alt="" />
                  </div>
                </div>
              </div>
              <div class="n3o-footer__inner-side">
                <div class="n3o-subtle">@2023 Charity Name</div>
                <div class="n3o-footer__inner-links">
                  <a href="#" class="n3o-subtle"> Help </a>
                  <a href="#" class="n3o-subtle"> Privacy </a>
                  <a href="#" class="n3o-subtle"> Terms </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer end
      =========================================== -->
    </main>
  </body>
</html>
