<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Roboto&family=Signika:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <title>Hero</title>
  </head>

  <body>
    <!-- header start
    =========================================== -->
    <header class="n3o-header new" id="header">
      <div class="auto__container">
        <div class="n3o-header__inner">
          <div class="n3o-header__inner-side">
            <a href="#" class="n3o-header__inner-logo">
              <b> LOGO </b>
            </a>
            <div class="n3o-large">Fundraising</div>
          </div>

          <div class="n3o-header__inner-side">
            <div class="n3o-header__inner-buttons">
              <a href="#" class="n3o-button secondary base"> Sign In </a>
              <a href="#" class="n3o-button secondary"> Create A Campaign </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header end
      =========================================== -->
    <main class="main">
      <!-- hero start
    =========================================== -->
      <section class="n3o-hero new">
        <div class="n3o-hero__bg">
          <img src="../../images/covers/3.png" alt="" />
        </div>
        <div class="auto__container">
          <div class="n3o-hero__inner">
            <div class="n3o-hero__inner-title">
              <div class="n3o-hero__inner-tag">
                <span>
                  <img src="../../images/icons/megaphone.svg" alt="" />
                </span>
                <p class="n3o-p">New {Charity} Crowdfunding Experience</p>
              </div>
              <h1 class="n3o-h1 big">
                Experience Unity in <br />
                Collective Giving
              </h1>
            </div>
          </div>
        </div>
      </section>
      <!-- hero end
    =========================================== -->
    </main>
  </body>
</html>
