<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Roboto&family=Signika:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <title>Lists with filter and sorter</title>
  </head>

  <body>
    <main class="main">
      <!-- explore start
    =========================================== -->
      <section class="n3o-explore">
        <div class="auto__container">
          <div class="n3o-explore__inner">
            <div class="n3o-explore__inner-title">
              <h2 class="n3o-h2">Explore All</h2>
              <div class="n3o-explore__inner-side">
                <div class="n3o-sort">
                  <div class="n3o-sort__selected">
                    <span>
                      <img src="../../images/icons/sort.svg" alt="" />
                    </span>
                    <p class="n3o-p">Sort by <b>Newest First</b></p>
                    <span>
                      <img src="../../images/icons/chevron-bottom.svg" alt="" />
                    </span>
                  </div>
                  <input type="hidden" value="0" />
                  <ul class="n3o-sort__options">
                    <li data-value="1">Newest First</li>
                    <li data-value="2">Oldest First</li>
                    <li data-value="3">Lowest Funds Raised</li>
                    <li data-value="4">Highest Funds Raised</li>
                  </ul>
                </div>
                <a href="#" class="n3o-search">
                  <div class="n3o-search__icon">
                    <img src="../../images/icons/search-dark.svg" alt="" />
                  </div>
                </a>
              </div>
            </div>
            <div class="n3o-explore__inner-main">
              <div class="n3o-filter">
                <div class="n3o-filterItem">
                  <input type="checkbox" checked name="filter" />
                  <span> All Categories </span>
                </div>
                <div class="n3o-filterItem">
                  <input type="checkbox" name="filter" />
                  <span> Emergency </span>
                </div>
                <div class="n3o-filterItem">
                  <input type="checkbox" name="filter" />
                  <span> Emergency </span>
                </div>
                <div class="n3o-filterItem">
                  <input type="checkbox" name="filter" />
                  <span> Water </span>
                </div>
                <div class="n3o-filterItem">
                  <input type="checkbox" name="filter" />
                  <span> Food </span>
                </div>
                <div class="n3o-filterItem">
                  <input type="checkbox" name="filter" />
                  <span> Education </span>
                </div>
                <div class="n3o-filterItem">
                  <input type="checkbox" name="filter" />
                  <span> Health </span>
                </div>
                <div class="n3o-filterItem">
                  <input type="checkbox" name="filter" />
                  <span> Poverty </span>
                </div>
                <div class="n3o-filterItem">
                  <input type="checkbox" name="filter" />
                  <span> Category </span>
                </div>
                <div class="n3o-filterItem">
                  <input type="checkbox" name="filter" />
                  <span> Category </span>
                </div>
                <div class="n3o-filterItem">
                  <input type="checkbox" name="filter" />
                  <span> Category </span>
                </div>
                <div class="n3o-filterItem">
                  <input type="checkbox" name="filter" />
                  <span> Category </span>
                </div>
                <div class="n3o-filterItem">
                  <input type="checkbox" name="filter" />
                  <span> Category </span>
                </div>
                <div class="n3o-filterItem">
                  <input type="checkbox" name="filter" />
                  <span> Category </span>
                </div>
                <div class="n3o-filterItem">
                  <input type="checkbox" name="filter" />
                  <span> Category </span>
                </div>
              </div>
              <div class="n3o-explore__inner-wrapper">
                <div class="n3o-spotlight__inner-row">
                  <div class="n3o-card">
                    <div class="n3o-card__image">
                      <img src="../../images/spotlight/1.png" alt="" />
                    </div>
                    <div class="n3o-card__content">
                      <h4 class="n3o-h4">Lorem qui deserunt aute exercitation</h4>
                      <div class="n3o-card__name">
                        <span>
                          <img src="../../images/avatars/6.png" alt="" />
                        </span>
                        <p class="n3o-p">Lorem Ipsum</p>
                      </div>
                      <div class="n3o-card__info">
                        <div class="n3o-card__info-num">£1,740 raised</div>
                        <div class="n3o-detail">48 Days left</div>
                      </div>
                      <div class="n3o-card__progress">
                        <span style="max-width: 65%"></span>
                      </div>
                    </div>
                  </div>
                  <div class="n3o-card">
                    <div class="n3o-card__image">
                      <img src="../../images/spotlight/2.png" alt="" />
                    </div>
                    <div class="n3o-card__content">
                      <h4 class="n3o-h4">
                        Lorem qui deserunt aute exercitation Lorem qui deserunt
                        aute exercitation
                      </h4>
                      <div class="n3o-card__name">
                        <span>
                          <img src="../../images/avatars/5.png" alt="" />
                        </span>
                        <p class="n3o-p">Lorem Ipsum</p>
                      </div>
                      <div class="n3o-card__info">
                        <div class="n3o-card__info-num">£1,740 raised</div>
                        <div class="n3o-detail">48 Days left</div>
                      </div>
                      <div class="n3o-card__progress">
                        <span style="max-width: 65%"></span>
                      </div>
                    </div>
                  </div>
                  <div class="n3o-card">
                    <div class="n3o-card__image">
                      <img src="../../images/spotlight/3.png" alt="" />
                    </div>
                    <div class="n3o-card__content">
                      <h4 class="n3o-h4">Lorem qui deserunt aute exercitation</h4>
                      <div class="n3o-card__name">
                        <span>
                          <img src="../../images/avatars/3.png" alt="" />
                        </span>
                        <p class="n3o-p">Lorem Ipsum</p>
                      </div>
                      <div class="n3o-card__info">
                        <div class="n3o-card__info-num">£1,740 raised</div>
                        <div class="n3o-detail">48 Days left</div>
                      </div>
                      <div class="n3o-card__progress">
                        <span style="max-width: 65%"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- explore end
  =========================================== -->
    </main>
    <!-- js -->
    <script src="../../js/jquery.js"></script>
    <script src="../../js/slick.min.js"></script>
    <script src="../../js/main.js"></script>
  </body>
</html>
