<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Roboto&family=Signika:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <title>Onboarding CTA section</title>
  </head>

  <body>
    <main class="main">
      <!-- intro start
    =========================================== -->
      <section class="n3o-intro big">
        <div class="n3o-intro__bg">
          <img src="../../images/bg.png" alt="" />
        </div>
        <div class="auto__container">
          <div class="n3o-intro__inner">
            <div class="n3o-onboard">
              <div class="n3o-onboard__content">
                <h2 class="n3o-h2">
                  Join the Movement <br />
                  to Make a Difference
                </h2>
                <div class="n3o-onboardItem">
                  <div class="n3o-onboardItem__icon">
                    <img src="../../images/icons/onboard/mountain.svg" alt="" />
                  </div>
                  <div class="n3o-onboardItem__text">
                    <p class="n3o-p">
                      <b> Empower Your Dreams </b> <br />
                      Launch campaigns to support projects, community
                      initiatives, or charitable causes.
                    </p>
                  </div>
                </div>
                <div class="n3o-onboardItem">
                  <div class="n3o-onboardItem__icon">
                    <img src="../../images/icons/onboard/goal.svg" alt="" />
                  </div>
                  <div class="n3o-onboardItem__text">
                    <p class="n3o-p">
                      <b> Connect with Supporters </b> <br />
                      Engage with a global network of backers ready to support
                      your vision.
                    </p>
                  </div>
                </div>
                <div class="n3o-onboardItem">
                  <div class="n3o-onboardItem__icon">
                    <img src="../../images/icons/onboard/team.svg" alt="" />
                  </div>
                  <div class="n3o-onboardItem__text">
                    <p class="n3o-p">
                      <b> Achieve Milestones </b> <br />
                      Set and reach fundraising milestones with the help of a
                      supportive community
                    </p>
                  </div>
                </div>
              </div>
              <div class="n3o-onboard__side">
                <div class="n3o-onboard__title">
                  <div class="n3o-onboard__logo">
                    <img src="../../images/logo-circle.png" alt="" />
                  </div>
                  <h4 class="n3o-h4">Fundraising</h4>
                </div>
                <div class="n3o-onboard__foot">
                  <p class="n3o-p">
                    Sign in or create an account to launch your fundraiser page
                    today!
                  </p>
                  <a href="#" class="n3o-button primary">Get Started Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- intro end
  =========================================== -->
    </main>
  </body>
</html>
