<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Roboto&family=Signika:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <title>Search Section</title>
  </head>

  <body>
    <main class="main">
      <!-- searchSec start
    =========================================== -->
      <section class="n3o-searchSec">
        <div class="n3o-searchSec__bg">
          <img src="../../images/bg.png" alt="" />
        </div>
        <div class="auto__container">
          <div class="n3o-searchSec__inner">
            <div class="n3o-searchSec__inner-content">
              <h2 class="n3o-h2">Find campaign to support</h2>
              <p class="n3o-p sm">
                Search from hundreds of running campaign looking for your
                support.
              </p>
              <div class="n3o-searchSec__input">
                <span>
                  <img src="../../images/icons/search.svg" alt="" />
                </span>
                <input type="search" placeholder="Gaza Emergency" />
              </div>
              <a href="#" class="n3o-searchSec__link">
                <h3 class="n3o-h3">See All Active Campaigns</h3>
                <span>
                  <img src="../../images/icons/arrow-right-white.svg" alt="" />
                </span>
              </a>
            </div>
            <div class="n3o-searchSec__inner-gallery">
              <img src="../../images/search-gallery.png" alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- searchSec end
  =========================================== -->
    </main>
  </body>
</html>
