<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Roboto&family=Signika:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <title>New Account</title>
  </head>

  <body>
    <div class="n3o-newAccount__wrapper">
      <div class="n3o-newAccount" id="newAccount">
        <div class="n3o-newAccount__head">
          <h4 class="n3o-h4">Detail for New Account</h4>
          <div class="n3o-detail">
            Add some information about your new account
          </div>
        </div>
        <div class="n3o-newAccount__body">
          <div class="n3o-input__outer">
            <h4 class="n3o-h4">Your Name</h4>
            <div class="n3o-input__row">
              <div class="n3o-input sel w-20">
                <select name="" id="">
                  <option value="mr">Mr</option>
                  <option value="mrs">Mrs</option>
                  <option value="ms">Ms</option>
                </select>
              </div>
              <div class="n3o-input w-40">
                <input type="text" placeholder="First Name" />
              </div>
              <div class="n3o-input w-40">
                <input type="text" placeholder="Last Name" />
              </div>
            </div>
          </div>
          <div class="n3o-input__outer">
            <h4 class="n3o-h4">Phone Number</h4>
            <div class="n3o-input">
              <input
                type="tel"
                placeholder="Phone number"
                value="+44788723541"
              />
            </div>
          </div>
          <div class="n3o-newAccount__address">
            <h4 class="n3o-h4">Address</h4>
            <div class="n3o-input">
              <input
                type="text"
                placeholder="Address Line"
                value="229 Great Portland Street"
              />
            </div>
            <div class="n3o-input sel">
              <select name="" id="">
                <option value="" hidden>Country</option>
                <option value="usa">USA</option>
                <option value="uk" selected>United Kingdom</option>
                <option value="france">France</option>
                <option value="italy">Italy</option>
              </select>
            </div>
            <div class="n3o-input">
              <input type="text" placeholder="Postcode" value="W1W 5PN" />
            </div>
          </div>
          <button
            type="button"
            disabled
            class="n3o-button primary"
            id="newAccountBtn"
          >
            Continue
          </button>
        </div>
      </div>
    </div>
    <script src="../../js/newAccount.js"></script>
  </body>
</html>
