<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Roboto&family=Signika:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <title>Sign in with multiple account detected</title>
  </head>

  <body>
    <div class="n3o-sign__wrapper">
      <div class="n3o-sign">
        <div class="n3o-sign__title">
          <h2 class="n3o-h2">Sign in</h2>
          <p class="n3o-p">
            You have multiple accounts registered with this email. <br />
            Choose an account to sign in
          </p>
        </div>
        <a href="#" class="n3o-signItem">
          <div class="n3o-signItem__col">
            <p class="n3o-p">Loremo Ipsuma</p>
            <div class="n3o-detail">
              229 Great Portland Street <br />
              W1W 5PN <br />
              United Kingdom
            </div>
          </div>
          <div class="n3o-signItem__col">
            <div class="n3o-detail">Reference No. AC100123</div>
            <div class="n3o-detail low">
              Created 12/04/2022 <br />
              Last Donation 28/11/2023
            </div>
          </div>
          <span>
            <img src="../../images/icons/arrow-right.svg" alt="" />
          </span>
        </a>
        <a href="#" class="n3o-signItem">
          <div class="n3o-signItem__col">
            <p class="n3o-p">Loremo LTD</p>
            <div class="n3o-detail">
              +44788723541 <br />
              7 Scala St, London <br />
              W1T 2HL <br />
              United Kingdom
            </div>
          </div>
          <div class="n3o-signItem__col">
            <div class="n3o-detail">Reference No. AC100123</div>
            <div class="n3o-detail low">
              Created 12/04/2022 <br />
              Last Donation N/A
            </div>
          </div>
          <span>
            <img src="../../images/icons/arrow-right.svg" alt="" />
          </span>
        </a>
      </div>
    </div>
  </body>
</html>
