<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Roboto&family=Signika:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <title>Footer</title>
  </head>

  <body>
    <!-- footer start
    =========================================== -->
    <footer class="n3o-footer">
      <div class="auto__container">
        <div class="n3o-footer__inner">
          <div class="n3o-footer__inner-row">
            <div class="n3o-footer__inner-main">
              <div class="n3o-footer__inner-logo">
                <img src="../../images/footer-logo.png" alt="" />
              </div>
              <div class="n3o-footer__inner-title">
                <h2 class="n3o-h2">Lorem Ipsum</h2>
                <p class="n3o-p sm">
                  Adipisicing consequat quis quis do cillum velit eiusmod
                  adipisicing sunt sit fugiat cupidatat aute nulla aute velit.
                </p>
              </div>
            </div>
            <div class="n3o-footer__inner-address">
              <p class="n3o-detail">
                45 Narrowly Wide Street <br />
                X15 2WS <br />
                United Land <br />
                <br />
                Charity Reg. Number 112953948X
              </p>
            </div>
          </div>
          <div class="n3o-footer__inner-copy">
            <div class="n3o-footer__inner-side">
              <div class="n3o-footer__inner-secure">
                <span>
                  <img src="../../images/icons/shield.svg" alt="" />
                </span>
                <p class="n3o-p sm">Secure Payment</p>
              </div>
              <div class="n3o-footer__inner-pay">
                <div class="n3o-footer__inner-pay-item">
                  <img src="../../images/icons/payment/apple-pay.svg" alt="" />
                </div>
                <div class="n3o-footer__inner-pay-item">
                  <img src="../../images/icons/payment/google-pay.svg" alt="" />
                </div>
                <div class="n3o-footer__inner-pay-item">
                  <img src="../../images/icons/payment/paypal.svg" alt="" />
                </div>
                <div class="n3o-footer__inner-pay-item">
                  <img src="../../images/icons/payment/visa.svg" alt="" />
                </div>
                <div class="n3o-footer__inner-pay-item">
                  <img src="../../images/icons/payment/master.svg" alt="" />
                </div>
                <div class="n3o-footer__inner-pay-item">
                  <img src="../../images/icons/payment/amex.svg" alt="" />
                </div>
                <div class="n3o-footer__inner-pay-item">
                  <img src="../../images/icons/payment/diners.svg" alt="" />
                </div>
              </div>
            </div>
            <div class="n3o-footer__inner-side">
              <div class="n3o-subtle">@2023 Charity Name</div>
              <div class="n3o-footer__inner-links">
                <a href="#" class="n3o-subtle"> Help </a>
                <a href="#" class="n3o-subtle"> Privacy </a>
                <a href="#" class="n3o-subtle"> Terms </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end
    =========================================== -->
  </body>
</html>
