<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Roboto&family=Signika:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <title>Team Members</title>
  </head>

  <body>
    <div class="n3o-donation__wrapper">
      <div class="n3o-donation">
        <div class="n3o-donation__title">
          <h2 class="n3o-h2">
            Fundraising Team
            <span>7 </span>
          </h2>
        </div>
        <div class="n3o-donation__list active">
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/1.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Carter Lorema</div>
                <div class="n3o-subtle">Organiser</div>
              </div>
              <div class="n3o-donationItem__info">
                <div class="n3o-large">
                  <p class="n3o-p">Raised</p>
                  <b> £1,234 </b>
                </div>
                <div class="n3o-subtle">
                  of
                  <b> £2,345 </b>
                </div>
              </div>
            </div>
          </div>
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/5.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Terry Dorwart</div>
                <div class="n3o-subtle">Organiser</div>
              </div>
              <div class="n3o-donationItem__info">
                <div class="n3o-large">
                  <p class="n3o-p">Raised</p>
                  <b> £1,234 </b>
                </div>
                <div class="n3o-subtle">
                  of
                  <b> £2,345 </b>
                </div>
              </div>
            </div>
          </div>
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/1.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Brandon Vaccaro</div>
                <div class="n3o-subtle">Fundraiser Member</div>
              </div>
              <div class="n3o-donationItem__info">
                <div class="n3o-large">
                  <p class="n3o-p">Raised</p>
                  <b> £1,234 </b>
                </div>
                <div class="n3o-subtle">
                  of
                  <b> £2,345 </b>
                </div>
              </div>
            </div>
          </div>
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/2.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Aspen Rhiel Madsen</div>
                <div class="n3o-subtle">Fundraiser Member</div>
              </div>
              <div class="n3o-donationItem__info">
                <div class="n3o-large">
                  <p class="n3o-p">Raised</p>
                  <b> £1,234 </b>
                </div>
                <div class="n3o-subtle">
                  of
                  <b> £2,345 </b>
                </div>
              </div>
            </div>
          </div>
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/3.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Rayna Dorwart</div>
                <div class="n3o-subtle">Fundraiser Member</div>
              </div>
              <div class="n3o-donationItem__info">
                <div class="n3o-large">
                  <p class="n3o-p">Raised</p>
                  <b> £1,234 </b>
                </div>
                <div class="n3o-subtle">
                  of
                  <b> £2,345 </b>
                </div>
              </div>
            </div>
          </div>
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/6.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Zaire Siphron</div>
                <div class="n3o-subtle">Fundraiser Member</div>
              </div>
              <div class="n3o-donationItem__info">
                <div class="n3o-large">
                  <p class="n3o-p">Raised</p>
                  <b> £1,234 </b>
                </div>
                <div class="n3o-subtle">
                  of
                  <b> £2,345 </b>
                </div>
              </div>
            </div>
          </div>
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/3.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Aspen Philips</div>
                <div class="n3o-subtle">Fundraiser Member</div>
              </div>
              <div class="n3o-donationItem__info">
                <div class="n3o-large">
                  <p class="n3o-p">Raised</p>
                  <b> £1,234 </b>
                </div>
                <div class="n3o-subtle">
                  of
                  <b> £2,345 </b>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="n3o-donation__foot">
          <button class="n3o-button secondary modallBtn" data-mod="#modal-3">
            View All
          </button>
        </div>
      </div>
    </div>
    <!-- modals -->
    <div class="n3o-modalsItem modall" id="modal-3">
      <div class="n3o-donation">
        <div class="n3o-donation__close modallClose" data-modal="modal-3"></div>
        <div class="n3o-donation__title">
          <h2 class="n3o-h2">
            Fundraising Team
            <span> 7 </span>
          </h2>
        </div>
        <div class="n3o-donation__list fund mod active">
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/5.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Ryan Bator</div>
                <div class="n3o-subtle">Organiser</div>
              </div>
              <div class="n3o-donationItem__info">
                <div class="n3o-large">
                  <p class="n3o-p">Raised</p>
                  <b> £1,234 </b>
                </div>
                <div class="n3o-subtle">
                  of
                  <b> £2,345 </b>
                </div>
              </div>
            </div>
          </div>
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/8.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Paityn Westervelt</div>
                <div class="n3o-subtle">Organiser</div>
              </div>
              <div class="n3o-donationItem__info">
                <div class="n3o-large">
                  <p class="n3o-p">Raised</p>
                  <b> £1,234 </b>
                </div>
                <div class="n3o-subtle">
                  of
                  <b> £2,345 </b>
                </div>
              </div>
            </div>
          </div>
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/10.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Marley Curtis</div>
                <div class="n3o-subtle">Fundraiser Member</div>
              </div>
              <div class="n3o-donationItem__info">
                <div class="n3o-large">
                  <p class="n3o-p">Raised</p>
                  <b> £1,234 </b>
                </div>
                <div class="n3o-subtle">
                  of
                  <b> £2,345 </b>
                </div>
              </div>
            </div>
          </div>
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/9.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Gustavo Press</div>
                <div class="n3o-subtle">Fundraiser Member</div>
              </div>
              <div class="n3o-donationItem__info">
                <div class="n3o-large">
                  <p class="n3o-p">Raised</p>
                  <b> £1,234 </b>
                </div>
                <div class="n3o-subtle">
                  of
                  <b> £2,345 </b>
                </div>
              </div>
            </div>
          </div>
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/2.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Jaydon Rosser</div>
                <div class="n3o-subtle">Fundraiser Member</div>
              </div>
              <div class="n3o-donationItem__info">
                <div class="n3o-large">
                  <p class="n3o-p">Raised</p>
                  <b> £1,234 </b>
                </div>
                <div class="n3o-subtle">
                  of
                  <b> £2,345 </b>
                </div>
              </div>
            </div>
          </div>
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/1.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Kianna Rosser</div>
                <div class="n3o-subtle">Fundraiser Member</div>
              </div>
              <div class="n3o-donationItem__info">
                <div class="n3o-large">
                  <p class="n3o-p">Raised</p>
                  <b> £1,234 </b>
                </div>
                <div class="n3o-subtle">
                  of
                  <b> £2,345 </b>
                </div>
              </div>
            </div>
          </div>
          <div class="n3o-donationItem">
            <div class="n3o-donationItem__avatar">
              <img src="../../images/avatars/8.png" alt="" />
            </div>
            <div class="n3o-donationItem__row">
              <div class="n3o-donationItem__name">
                <div class="n3o-large">Marley Stanton</div>
                <div class="n3o-subtle">Fundraiser Member</div>
              </div>
              <div class="n3o-donationItem__info">
                <div class="n3o-large">
                  <p class="n3o-p">Raised</p>
                  <b> £1,234 </b>
                </div>
                <div class="n3o-subtle">
                  of
                  <b> £2,345 </b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../js/main.js"></script>
    <script src="../../js/tabs.js"></script>
    <script src="../../js/modals.js"></script>
  </body>
</html>
