.n3o-header {
  font-family: $mainFont;
  color: $black;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
 
  a {
    text-decoration: none;
    opacity: 1;
    color: $white;
    transition: 0.3s ease;
    cursor: pointer;
    &:hover {
      opacity: 0.88;
    }
  }
  ul {
    li {
      list-style: none;
    }
  }
  button {
    outline: none;
  }
  button:focus {
    outline: none;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  background-color: rgba($white, 0.9);
  border-top: 4px solid $theme-primary;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  &.new {
    background-color: unset;
    .n3o-header {
      &__inner {
        padding: 100px 0 30px;
        &-logo {
          width: 126px;
          height: 76px;
          margin-right: 14px;
          &::before {
            opacity: 1;
          }
          b {
            font-size: 22px;
          }
        }
      }
    }
  }
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation-name: sticky;
    animation-duration: 0.4s;
    box-shadow: 0px 4px 4px 0px #00000021;
    background-color: $white;
    .n3o-header {
      &__inner {
        padding: 12px 0;
        &-logo {
          &::before {
            opacity: 0.7;
          }
          b {
            opacity: 1;
          }
        }
      }
    }
  }
  &__inner {
    padding: 16px 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 48px;
      border-radius: $corner-full;
      overflow: hidden;
      position: relative;
      &:hover {
        opacity: 1;
        &::before {
          opacity: 1;
        }
      }
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $theme-primary;
        opacity: 0.3;
        content: "";
        pointer-events: none;
        transition: 0.3s ease;
      }
      b {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: $white;
        opacity: 0.8;
        position: relative;
        z-index: 1;
      }
      img {
        width: 100%;
      }
    }
    &-side {
      display: flex;
      align-items: center;
    }
    &-buttons {
      display: flex;
    }
    &-avatar {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 12px;
      cursor: pointer;
      transition: 0.3s ease;
      &:hover {
        .n3o-dropMenu {
          opacity: 1;
          visibility: visible;
        }
      }
      img {
        @include fullImage;
      }
    }
    .n3o-button {
      margin-right: 12px;
      &:last-child {
        margin: 0;
      }
    }
  }
}
.n3o-dropMenu {
  position: absolute;
  right: 0;
  top: 100%;
  width: 190px;
  background-color: $white;
  box-sizing: border-box;
  border: 1px solid #f1f5f9;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.09));
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  overflow: hidden;
  a {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $slate700;
    padding: 11px 13px;
    border-bottom: 1px solid $theme-border-color;
    &:hover {
      background-color: $theme-primary;
      color: $white;
      svg {
        color: $white;
      }
    }
    svg {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      color: $black;
    }
  }
}
// 1180px
@mixin header-xlg-xxlg {
  .n3o-header {
    &.new {
      .n3o-header {
        &__inner {
          padding: 30px 0;
          &-logo {
            width: 100px;
            height: 54px;
            b {
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}
// 1024px
@mixin header-lg-xlg {
  .n3o-header {
  }
}
// 930px
@mixin header-md-lg {
  .n3o-header {
  }
}
// 750px
@mixin header-sm-md {
  .n3o-header {
  }
}

// 650px
@mixin header-sm-md-extra {
  .n3o-header {
    &.new {
      .n3o-header {
        &__inner {
          padding: 16px 0;
          &-logo {
            width: 48px;
            height: 48px;
            border-radius: $corner-full;
            b {
              font-size: 12px;
              line-height: 20px;
            }
            img {
              @include fullImage;
            }
          }
          &-side {
            .n3o-large {
              display: none;
            }
          }
        }
      }
    }
    &__inner {
      &-buttons {
        &.mobRem {
          display: none;
        }
      }
      &-logo {
        width: 48px;
        height: 48px;
        border-radius: $corner-full;
        b {
          font-size: 12px;
          line-height: 20px;
        }
        img {
          @include fullImage;
        }
      }
    }
  }
}
@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
