.n3o-sign {
  font-family: $mainFont;
  color: $black;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  a {
    text-decoration: none;
    opacity: 1;
    transition: 0.3s ease;
    cursor: pointer;
    &:hover {
      opacity: 0.88;
    }
  }
  ul {
    li {
      list-style: none;
    }
  }
  button {
    outline: none;
  }
  button:focus {
    outline: none;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  margin: auto;
  background: $white;
  box-shadow: 0px 5px 64px 10px rgba(0, 0, 0, 0.08),
    0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: $corner-sm;
  display: flex;
  flex-direction: column;
  padding: $space-3xl;
  box-sizing: border-box;
  width: 100%;
  max-width: 538px;
  &__wrapper {
    padding: $space-2xl;
  }
  &__title {
    margin-bottom: $space-3xl;
  }
  &Item {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: $space-xl;
    border: 1px solid $theme-border-color;
    border-radius: $corner-xl;
    color: $black;
    transition: 0.3s ease;
    margin-bottom: $space-3xl;
    &:last-child {
      margin: 0;
    }
    &:hover {
      opacity: 1;
      border-color: $theme-primary-hover;
      span {
        opacity: 1;
      }
    }
    &__col {
      width: 50%;
      border-right: 1px solid $theme-border-color;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: $space-xl;
      &:last-of-type {
        border: unset;
        padding: 0 0 0 $space-xl;
      }
      .n3o-detail,
      .n3o-p {
        font-weight: 500;
        margin-bottom: $space-xl;
        &.low {
          opacity: 0.5;
        }
        &:last-child {
          margin: 0;
        }
      }
    }
    span {
      position: absolute;
      top: 50%;
      right: $space-xl;
      width: 16px;
      height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s ease;
      transform: translateY(-50%);
      opacity: 0;
      img {
        width: 100%;
      }
    }
  }
  &Add {
    display: flex;
    align-items: center;
    border-radius: $corner-xl;
    border: 1px dashed $theme-primary-light;
    padding: $space-xl;
    color: $black;
    position: relative;
    &:hover {
      opacity: 1;
      border-color: $theme-primary-hover;
      span {
        opacity: 1;
      }
    }
    &__icon {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: $space-xl;
    }
    span {
      position: absolute;
      top: 50%;
      right: $space-xl;
      width: 16px;
      height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s ease;
      transform: translateY(-50%);
      opacity: 0;
      img {
        width: 100%;
      }
    }
  }
  &Warn {
    padding: $space-xl;
    background-color: #fff7ed;
    margin-bottom: $space-3xl;
  }
  .n3o-h2 {
    margin-bottom: $space-xl;
    &:last-child {
      margin: 0;
    }
  }
}
.n3o-newAccount { 
  font-family: $mainFont;
  color: $black;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
 
  a {
    text-decoration: none;
    opacity: 1;
    color: $white;
    transition: 0.3s ease;
    cursor: pointer;
    &:hover {
      opacity: 0.88;
    }
  }
  ul {
    li {
      list-style: none;
    }
  }
  button {
    outline: none;
  }
  button:focus {
    outline: none;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  margin: auto;
  box-shadow: 0px 5px 64px 10px rgba(0, 0, 0, 0.08),
    0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 538px;
  background-color: $white;
  border-radius: $corner-sm;
  overflow: hidden;
  &__wrapper {
    padding: $space-2xl;
  }
  &__head {
    padding: $space-3xl;
    background-color: $theme-primary;
    color: $white;
    .n3o-h4 {
      margin-bottom: $space-sm;
    }
  }
  &__body {
    padding: $space-3xl;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    .n3o-button {
      width: 100%;
      &:disabled {
        opacity: 0.2;
      }
    }
    .n3o-input {
      &__outer {
        margin-bottom: $space-3xl;
        .n3o-h4 {
          margin-bottom: $space-lg;
        }
      }
    }
  }
  &__address {
    margin-bottom: $space-3xl;
    display: flex;
    flex-direction: column;
    .n3o-h4 {
      margin-bottom: $space-lg;
    }
    .n3o-input {
      margin-bottom: $space-lg;
      &:last-child {
        margin: 0;
      }
    }
  }
  &__checks {
    margin-bottom: $space-3xl;
    display: flex;
    flex-direction: column;
    .n3o-check {
      margin-bottom: $space-3xl;
      &:last-child {
        margin: 0;
      }
    }
  }
  .n3o-input {
    &__row {
      display: flex;
      justify-content: space-between;
    }
    &.w-20 {
      width: calc(20% - 6px);
    }
    &.w-40 {
      width: calc(40% - 6px);
    }
    &.sel {
      position: relative;
      &::before {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-60%) rotate(135deg);
        content: "";
        width: 8px;
        height: 8px;
        border-top: 1px solid $black;
        border-right: 1px solid $black;
      }
    }
    input,
    select {
      height: unset;
      padding: $space-lg $space-xl;
      line-height: 22px;
    }
    input {
      &::placeholder {
        color: #8f949d;
      }
    }
  }
}
// 540px
@mixin sign-xsm-sm {
  .n3o-sign {
    &Item {
      flex-direction: column;
      &__col {
        width: 100%;
        padding: 0 0 $space-xl 0;
        border: unset;
        border-bottom: 1px solid $theme-border-color;
        &:last-of-type {
          padding: $space-xl 0 0 0;
        }
        .n3o-detail {
          margin-bottom: $space-xs;
        }
      }
      span {
        top: 20px;
        transform: translate(0);
      }
    }
  }
  .n3o-newAccount {
    .n3o-input {
      &.w-20 {
        width: 100%;
        max-width: 92px;
        margin-bottom: 12px;
      }
      &.w-40 {
        width: 100%;
        margin-bottom: 12px;
        &:last-child {
          margin: 0;
        }
      }
      &__row {
        flex-direction: column;
      }
    }
  }
}
