<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Roboto&family=Signika:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <title>Create Campaign Sign in CTA</title>
  </head>

  <body>
    <div class="onboard__wrapper">
      <div class="onboard">
        <div class="onboard__content">
          <h2>
            Join the Movement <br />
            to Make a Difference
          </h2>
          <div class="onboardItem">
            <div class="onboardItem__icon">
              <img src="../../images/icons/onboard/mountain.svg" alt="" />
            </div>
            <div class="onboardItem__text">
              <p>
                <b> Empower Your Dreams </b> <br />
                Launch campaigns to support projects, community initiatives, or
                charitable causes.
              </p>
            </div>
          </div>
          <div class="onboardItem">
            <div class="onboardItem__icon">
              <img src="../../images/icons/onboard/goal.svg" alt="" />
            </div>
            <div class="onboardItem__text">
              <p>
                <b> Connect with Supporters </b> <br />
                Engage with a global network of backers ready to support your
                vision.
              </p>
            </div>
          </div>
          <div class="onboardItem">
            <div class="onboardItem__icon">
              <img src="../../images/icons/onboard/team.svg" alt="" />
            </div>
            <div class="onboardItem__text">
              <p>
                <b> Achieve Milestones </b> <br />
                Set and reach fundraising milestones with the help of a
                supportive community
              </p>
            </div>
          </div>
        </div>
        <div class="onboard__side">
          <div class="onboard__title">
            <div class="onboard__logo">
              <img src="../../images/logo-circle.png" alt="" />
            </div>
            <h4>Fundraising</h4>
          </div>
          <div class="onboard__foot">
            <p>
                Sign in or create an account to launch your fundraiser page today!
            </p>
            <a href="#" class="button primary">Get Started Now</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
