<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Roboto&family=Signika:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <title>Unmet deadline</title>
  </head>
  <body>
    <div class="cta__wrapper">
      <div class="ctaInfo">
        <h4>This campaign has reached deadline</h4>
        <div class="ctaInfo__inner">
          <h2>We'll Get There Next Time</h2>
          <div class="ctaInfo__image">
            <img src="../../images/cta/time-management.svg" alt="" />
          </div>
          <p>Thanks to everyone contributed to this campaign.</p>
        </div>
      </div>
    </div>

 
    <svg style="display: none">
      <symbol id="crossIcon" viewBox="0 0 24 25" fill="none"></symbol>
    </svg>

    <script src="../../js/jquery.js"></script>
    <script src="../../js/slick.min.js"></script>
    <script src="../../js/cta-box.js"></script>
  </body>
</html>
