<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Roboto&family=Signika:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <title>Empty State</title>
  </head>

  <body>
    <div class="n3o-donation__wrapper">
      <div class="n3o-donation">
        <div class="n3o-donation__head">
          <div class="n3o-donation__head-tab tabBtn active" data-tab="#tab-1">
            <h4 class="n3o-h4">Latest Donations</h4>
          </div>
          <div class="n3o-donation__head-tab tabBtn" data-tab="#tab-2">
            <h4 class="n3o-h4">
              Fundraisers
              <span> 7 </span>
            </h4>
          </div>
        </div>
        <div class="n3o-donation__list tabEvent active" id="tab-1">
          <div class="n3o-donation__empty">
            <h2 class="n3o-h2">Looking For Supporters</h2>
            <div class="n3o-donation__empty-image">
              <img src="../../images/empty-state.svg" alt="" />
            </div>
            <p class="n3o-p">Will that be you? Be the first to donate!</p>
          </div>
        </div>
        <div class="n3o-donation__list tabEvent" id="tab-2">
          <div class="n3o-donation__empty">
            <h2 class="n3o-h2">Looking For Supporters</h2>
            <div class="n3o-donation__empty-image">
              <img src="../../images/empty-state.svg" alt="" />
            </div>
            <p class="n3o-p">Will that be you? Be the first to donate!</p>
          </div>
        </div>
      </div>
    </div>
    <script src="../../js/tabs.js"></script>
  </body>
</html>
